

.background {
    background-color: lightgrey;
}

.padding {
    margin-top: 2%;
    margin-left: 2%;
    color: darkcyan;
}


.font
<body style="background-color: lightgrey;">
    <div>
    <h1 style=":sans-serif;color: darkcyan;">Frida Kahlo Fan Club</h1>
    <div>
    <h1 style=":sans-serif;color: darkcyan;">Frida Kahlo Fan Club</h1>
    div
